 @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


    body{
      padding: 0px;
      margin: 0px;
      background: black;
      font-family: 'VT323', monospace;
      font-size: 30px;

      --col-a: #ff9900;
      --col-b: #0099ff;

      color: var(--col-a);
      overflow: hidden;
    }

    h1{
      margin: 0px;
      padding: 0px;
      font-weight: normal;
    }

    h2, h3{
      font-weight: normal;
    }

    button{
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      background: white;
      border: none;
      padding: 10px;
      width: 100%;
      margin: 15px 0px 0px 0px;

      border: 1px solid var(--col-a);
      text-transform: uppercase;
      background: var(--col-b);
      color: white;
    }

    .box{
      width: 600px;
      position: relative;
      display: inline-block;
      background: rgba(255,255,255,0.9);
      padding: 20px;
      overflow: hidden;
    }

    .ing:before, .box:before, .ingredient:before{
      content: "";

      position: absolute;
      left: 0px;
      top: 0px;
      bottom: 0px;

      width: 20px;
      border: 2px solid var(--col-a);
      border-right: 0px;
      display: block;
    }

    .ing:after, .box:after, .ingredient:after{
      content: "";

      position: absolute;
      right: 0px;
      top: 0px;
      bottom: 0px;

      width: 20px;
      border: 2px solid var(--col-a);
      border-left: 0px;
      display: block;
    }





    button{
      position: relative;
    }

    button:after{
      content: ">";
      position: absolute;
      right: 0px;
      width: 40px;
      text-align: center;
      display: block;
      top: 0px;
      line-height: 50px;

    }

    .screen, .shop-pages, .shop-page{
      width: 100%;
      height: 100%;
      position: relative;
      box-sizing: border-box;
    }

    .layer{
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-size: 100%;
      background-position: center;
      box-sizing: border-box;
      text-align: center;
    }

    .device{
      /*1100 x 620*/
      width: 100%;
      height: 100%;
      /*width: 1100px;
      height: 560px;*/
      position: fixed;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      margin: auto;
      background: white;
      overflow: hidden;
    }

    .device:after{
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      display: block;
      background-size: 100% 100%;
      pointer-events: none;
    }

    b{
      font-weight: normal;
      background: var(--col-b);
      color: white;
    }

    wd{
      width: 15px;
      height: 20px;
      background-image: url('./water-dollar-symbol.png');
      display: inline-block;
      background-size: contain;
      vertical-align: bottom;
      background-repeat: no-repeat;
      image-rendering: pixelated;
    }

    .screen-selector{
      padding: 50px 100px;
    }

    .screen-selector h1{
      margin-bottom: 10px;
    }

    .pins{
      position: relative;
    }

    .pin{
      width: 50px;
      height: 50px;
      border-bottom: 4px solid var(--col-a);

      display: inline-block;
      border-top-width: 3px;
      vertical-align: middle;
      font-size: 50px;
      text-transform: uppercase;
    }

    .pin.focus{
      animation: throb 1s infinite;
    }

    .pin.error{
      color: red;
      background: rgba(255,0,0,0.1);
      border-color: red;
    }

    .pin.correct{
      border-color: var(--col-b);
      color: var(--col-b);
      background: rgba(0,170,255,0.2);
    }

    .keypad{
      text-align: center;
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
    }

    .keypad button{
      width: 55px;
      height: 80px;
      display: inline-block;
      background: white;
      color: var(--col-b);
      font-size: 50px;
      margin: 2px;
      border-color: var(--col-b);
      border-bottom-width: 4px;
      vertical-align: middle;
      line-height: 25px;
    }

    .keypad button:after{
      display: none;
    }


    .cursor{
      display: inline;
      background: var(--col-a);
      animation-name: throb; 
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }

    .cursor:after{
      content: "_"
    }

    @keyframes throb{
      0%{
        background-color: var(--col-a);
      }

      50%{
        background-color: var(--col-a);
      }

      55%{
        background-color: transparent;
      }

      100%{
        background-color: transparent;
      }
    }